{% extends 'myblog/base.html' %}

	{% block content %}
	<h2>Hello! My name is Roman Shakhanov and it's my page</h2>
	<img id='mypic' src='/static/images/mypic.jpg'> 
	<p id="about">It's my personal blog where I posting different stories from my life and sharing my plans for the future. I'm active researching web-development at the moment and it's my training polygon. (Actually, I researching desktop and mobile development too, but it's another story)
	I'm improving my technical skills by supporting and developing this blog and also train my English by writing new posts. Thanks for the reading!</p>

	{% endblock content %}