{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/myblog.css' %}">
</head>
<body>

	<div class="main_header">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
        <h1 id="m_header"><a href="/">Roman Shakhanov</a> <span id="a_header">Personal Blog</span> </h1>
    </div>
    <div class="navbar">
        <h4 id="nav_table"><center>
            <table>
                    <tr>
                        <td width="35%"><a href="/">Home</a></td>
                        <td width="35%"><a href="{% url 'about_page' %}">About</a></td>
                        <td width="50%"><a href="{% url 'contacts' %}">Contact Me</a></td>
                    </tr>
            </table></center>
        </h4>
    </div>
        <div class="content container">
            <div class="row">
                <div class="">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

</body>
</html>