{% extends 'myblog/base.html' %}

	{% block content %}
	<center>
	<h3 id="c_header"> You can contact me by: </h3>
	<div id="c_list">
		<table>
		<tr><td><label><a href="mailto:altair0908@gmail.com" target="_blank"><img src="/static/images/mail.png"> E-Mail</a></label></td></tr>
		<tr><td><label><a href="https://twitter.com/shakhanovr" target="_blank"><img src="/static/images/twitter.png"> Twitter</a></label></td></tr>
		<tr><td><label><a href="https://www.facebook.com/100010510353662" target="_blank"><img src="/static/images/facebook.png"> Facebook</a></label></td></tr>
		<tr><td><label><a href="https://vk.com/jericour" target="_blank"><img src="/static/images/vk.png"> VK</a></label></td></tr>
		<tr><td><label><a href="https://www.linkedin.com/in/roman-shakhanov-90a262107/" target="_blank"><img src="/static/images/linkedin.png"> LinkedIn</a></label></td></tr>
		</table>
	</div>
	</center>
	{% endblock content %}