 {% extends 'myblog/base.html' %}

    {% block content %}
        <div class="post-detail">
            <h1>{{ post.title }} 
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% if post.published_date %}
            {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% else %}
            {% endif %}
            {% endif %}
            </h1>
            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.published_date %}
                <div class="date">
                    <b>Published: {{ post.published_date }} | Author: {{ post.author }}</b>
                </div>
            {% endif %}
        </div>
    {% endblock %}