{% extends 'myblog/base.html' %}
{% load django_markdown %}

    {% block content %}
        {% for post in posts %}
            <div class="post"><div class="texts">
                <h1 id="post_header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|markdown }}</p>
                <div class="date">
                    <b>Published: {{ post.published_date }} | Author: {{ post.author }}</b>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                </div>
            </div>
        {% endfor %}
    {% endblock content %}